footer{
    margin-top: 58px;

    & > h2{
        font-size: 28px;
        font-weight: bold;
    }

    & > p {
        text-wrap: balance;
        max-width: 75%;
        margin-top: 16px;
        font-weight: 200;
    }


}

