nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;    
    position: relative;  
    height: 10vh;

    &> ul{
        position: fixed;
        top: 0px;
        border-radius: 15PX;
        padding: 5px 20px;
        font-size: 17px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.397);
    }



}

ul{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 18px;
}

ul > li {
    display: flex;
    list-style-type: none;
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 200;
}

ul > li > span {
    font-size: 2px;
    text-align: center;
}



.Introduccion{
    display: flex;
    flex-direction: column;

    & > picture {
        display: flex;
        align-items: center;
    }
    & > picture > img {
        border-radius: 100px;
        margin-right: 16px;
    }

    & > h1{
        font-size: 40px;
        font-weight: bold;
        margin-top: 10px;

    }


    & > p{
        text-wrap: balance;
        max-width: 500px;
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;
    }

    & > p > span{
        color: #f77b2e;
    }

    & > ul > li{
        padding: 6px;
        border-radius: 16px;
        font-size: 16px;
        width: 150px;
        font-weight: 400;
        text-align: center;
        cursor: pointer;
    }
   
 
 

}

a{
    text-decoration: none;
    color: white;
}


a:hover{
    color: #f77b2e;
}

