.layout{
    height: 100vh;
    max-width: 70%;
    margin: 0 auto;
    flex-direction: column;
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

